/* Reset & Basic Settings */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

:root {
  --color-primary: #006241;
  --color-secondary: #d50032;
  --color-extra: #d4e9e2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
   
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #000;
}

a {
  color: #000;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
  font-size: 16px;
}

img {
    max-width: 100%;
  }

h2 {
    font-family: 'PT Serif', serif;
    font-size: 30px;
     color: var(--color-secondary);
     text-transform: lowercase;
}

h3 {
    font-size: 35px;
    text-transform: uppercase;
}

/* Navigation */

.navbar {
    max-width: 100%;
    height: auto;
    padding: 20px;

  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
  }
  
  .navbar li {
    margin: 0 15px;
    font-weight: bold;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: var(--color-primary);
  }
  
  .navbar-brand img {
    width: 75%;
    height: 75%;
    color: #fff;
  }
 
  /* Hamburger Menu Icon */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    z-index: 10;
    transition: all 0.25s;
    display: none;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }

  /* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 85px;
    right: 0;
    background-color: #fff;
    color: #000;
    width: 90%;
    height: 100%;
    padding: 30px;
    box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%),
      inset 0 4px 2px -2px rgb(0 0 0 / 7%);
    transition: all 0.3s;
  }
  
  .mobile-menu img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .mobile-menu ul {
    line-height: 3;
    border-bottom: #777 solid 1px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
  
  .mobile-menu a {
    text-decoration: none;
    font-size: 20px;
  }
  
  .mobile-menu a:hover {
    color: var(--color-primary);
  }
  
  .mobile-menu div {
    margin-top: 20px;
  }
  
  .mobile-menu div a {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .hidden {
    transform: translateX(100%);
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
 /* Header Jumbotron */
 #jumbotron {

    background-image: url("images/burger_closeup.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     height: 70vh;
    
 }

 .jumbotron__overlay {
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left:0;
    height: 100%;
 } 


 .jumbotron__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding-left: 150px;
    height: 66%;
 }

 .jumbotron__text h1 {
     font-size: 54px;
 }

 .jumbotron__text p {
     font-size: 25px;
     margin-bottom: 40px;
 }

 .jumbotron__text .btn {
     max-width: 100px;
     border-radius: 10px;
     padding: 10px;
     background-color: #fff;
     text-decoration: none;
     text-align: center;

 }

 /* About section */

 #about {
     display: grid;
     grid-template-columns: 1fr 1fr;
     width: 75%;
     margin: 100px auto;
     height: 50vh;

 }

 #about .about__img {
     width: 75%;
 }

 #about .about__img img {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
 }

 #about .about__text {
     width: 85%;
 }



/* Gallery section */
 #gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ccc;
    text-align: center;
 }

 .gallery__container  {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  align-items: center;
  width: 75%;
  margin: 10px auto;
  padding-top: 40px;

 }

.gallery__container img {
    border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  border-radius: 10px;
  max-width: 100%;
}

/* Menu section */
#menue {
    background-image: url("images/burger_jumbotron1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

#menue .menue__text {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    height: 100%;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 20px;
}

#menue .menue__text table {
    width: 80%;
    margin 0 auto;
    padding-top: 50px;
}

#menue .menue__text table tr td {
    padding-top: 20px;
}

#contact {
    margin: 100px auto;
    width: 75%;
    text-align: center;
}

#contact .contact__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 50px;
}

#contact .contact__details .times {
    text-align: left;
}

#contact .contact__details .times table tr td {
    padding-right: 30px;
} 

footer { 
    width: 100%;
    text-align: center;
    background-color: #aaa;
}

footer p {
    margin-bottom: 0;
}

  /* Media Queries */
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  

  
    .navbar-brand img {
      width: 75%;
      height: 75%;
    }
  

    .navbar .navbar-nav-right {
      display: none;
    }

    #jumbotron {
        height: 100vh;;
    }

    .jumbotron__text {
        
        color: #fff;
        height: 100%;
     }
  
   #about {
       height: 100vh;
       grid-template-columns: 1fr;
   }

   #menue {
       height: 90vh;
   }

   #menue .menue__text {
       width: 80%;
   }

   #contact .contact__details {
    grid-template-columns: 1fr;

}

#contact .contact__details .adresse {
    padding-top: 50px;
}
   
  }